<div class="auth-container">
  <div class="auth-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="title">Reset Password</h2>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" />

        @if (form.get("email")?.touched && form.get("email")?.invalid) {
          <small>Please enter a valid email</small>
        }
      </div>

      @if (message) {
        <small style="background: green">{{ message }}</small>
      }

      @if (error) {
        <small>{{ error }}</small>
      }

      <div class="actions">
        <button
          type="submit"
          class="btn primary"
          [disabled]="form.invalid || loading"
        >
          Send Reset Link
        </button>
      </div>
    </form>
  </div>
</div>
