<div class="auth-container">
  <div class="auth-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 class="title">Change Password</h2>

      <div class="form-group">
        <label>New Password</label>
        <input type="password" formControlName="password" />

        @if (form.get("password")?.touched && form.get("password")?.invalid) {
          <small>Password must be at least 6 chars</small>
        }
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" />

        @if (form.errors?.["notMatch"]) {
          <small>Passwords do not match</small>
        }
      </div>

      @if (message) {
        <small style="background: green">{{ message }}</small>
      }

      @if (error) {
        <small>{{ error }}</small>
      }

      <div class="actions">
        <button
          type="submit"
          class="btn primary"
          [disabled]="form.invalid || loading"
        >
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
